<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8482111292-6jfffsfigbv77ecukpq2lvlsj4fan8k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8482111292-6jfffsfigbv77ecukpq2lvlsj4fan8k7</string>
	<key>API_KEY</key>
	<string>AIzaSyB_-pv8ZAKjvlk-MuCnlwcgOEHu5yc_Ct0</string>
	<key>GCM_SENDER_ID</key>
	<string>8482111292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectRiverpod</string>
	<key>PROJECT_ID</key>
	<string>connect-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8482111292:ios:b59caa6fcf6eaef0eda839</string>
</dict>
</plist>